@use '../../styles/vars.scss' as *;

.sectionFoto {
  position: relative;
  scroll-margin-top: $gap-64;
  padding: $gap-80;
  
  background-image: url('../../assets/beautiful-black-white-upshot-bui.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(24, 92, 195, 0.3);
    z-index: 1;
  }

   h2 {
    color: $primary-color;
    text-align: center;
    z-index: 2;
    position: relative;
  }

  .howItWorksContent {
    position: relative;
    z-index: 2; 
    color: $primary-color;
    padding: $gap-80 0 0 0;

    @media (max-width: 768px) {
       justify-content: center;
       padding: $gap-32 0 0 0;
       
       width: 100%;
       gap: $gap-32;
    } 

    span {
        font-size: $font-size-70;
        font-weight: bold;
        margin: 0;
        padding: 0;
        line-height: 1;

          
      @media (max-width: 768px) {
         font-size: $font-size-40;
    } 
    }

    p {
      width: 80%;   
      
      @media (max-width: 768px) {
       width: 100%;
    } 
    }

  }

  @media (max-width: 768px) {
      padding: $gap-48 $gap-32;
    } 

}