 @use "./vars.scss" as *;

.btn-dark {
    display: block;
    width: 100%;
    text-align: center;
    background-color: $secondary-color;
    padding: $gap-8 $gap-32;
    color: $primary-color;
    border: none;
    border-right: 2px solid darken($secondary-color, 15%);
    border-bottom: 2px solid darken($secondary-color, 15%);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: $font-size-20;
    text-transform: uppercase;
        

    &:hover,
    &:focus,
    &.active {
    transform: scale(1.03) translateY(-1px);
    background-color: darken($secondary-color, 5%);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    text-decoration: none;
  }
  @media (max-width: 768px) {
     font-size: $font-size-16;
     
  }


  }

  .btn-light {
    background-color: $primary-color;
    padding: $gap-8 $gap-32;
    color: $secondary-color;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
    border: none;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    font-size: $font-size-20;
    text-transform: uppercase;
    

    &:hover,
    &:focus,
    &.active {
    transform: scale(1.03) translateY(-1px);
    background-color: lighten($primary-color, 2%);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }

   @media (max-width: 768px) {
     font-size: $font-size-16;
     
  }
  }