@use '../../styles/vars.scss' as *;

.sectionDark {
  scroll-margin-top: $gap-80;
  background-color: $secondary-color;
  color: $primary-color;
  display: flex;
  flex-wrap: wrap;
  gap: $gap-64;
  padding: $gap-80;

  .contactInfo {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    gap: $gap-32;

    .contactBlock {
      display: flex;
      flex-direction: column;
      gap: $gap-8;
    }

    @media (max-width: 768px) {
      align-items: center;
      text-align: center;
      flex: 1 1 100%;
      padding-bottom: $gap-32;
    }
  }

  .mapWrapper {
    flex: 2 1 850px;
    height: 320px;
    box-shadow: 0 4px 12px rgba($text-color, 0.2);

    iframe {
      width: 100%;
      height: 100%;
      display: block;
      border: none;
      min-height: 40vh;
    }

    @media (max-width: 768px) {
      flex: 1 1 100%;
     
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding: $gap-48 0 0 0;
    gap: $gap-32;
  }
}
